# API base URL (must start with VITE_ for Vite)
VITE_API_URL=http://localhost:8000
#! ถ้าใช้ Frontend Build Tool เป็น Vite ต้องขึ้นต้นด้วย VITE_ เสมอ
#! ถ้าใช้ CRA(Create React APP) ชื่อตัวแปรใน React ต้องขึ้นต้นด้วย REACT_APP_ เสมอ